* {margin: 0px; padding: 0px;}

h1 {
  margin-left: 1vw;
}

#pi {
  margin-left: 1vw;
  margin-right: 1vw;

  width: 98vw; 
  height: 70vh;
  text-overflow: ellipsis;
  border: 1px solid #000000;

  word-wrap: break-word;
  overflow: hidden;
}
